.analyst{
    background-color: $white;
    .header-bg{
        background-color: #ECF2EE;
        height: 124px;
        padding-bottom: 16px;
        .header-wrap{
            padding-top: 72.5px
        }
    }
    .emotion-wrap{
        padding-top: 34px;
        h3{
            @include text-style(24px,700,$black);
            margin-bottom: 20px;
        }
        .percentage-wrap{
            @include flexbox(start,start);
            overflow: hidden;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            height: 110px;
            margin-bottom: 41px;
            .none{
                @include column-flexbox(center,start)
            }
            .percentage{
                @include column-flexbox(start,center);
                width: 96px;
                height: 96px;
                flex-shrink: 0; 
                border-radius: 50%;
                box-shadow: 0px 3px 13.5px 0px #D9D9D9;
                margin-right: 16px;
                margin-bottom: 75px;
                padding-top: 10.5px;
                &:nth-of-type(1){
                    background: radial-gradient(circle, #F4D9FF 0%, white 70%);
                }
                &:nth-of-type(2){
                    background: radial-gradient(circle, #A7EDFF 0%, white 70%);
                }
                &:nth-of-type(3){
                    background: radial-gradient(circle, #FFDAD6 0%, white 70%);
                }
                &:nth-of-type(4){
                    background: radial-gradient(circle, #A3F2D8 0%, white 70%);
                }
                .name{
                    @include text-style(12px,700,$grey);
                    margin-bottom:7.75px;
                }
                .shame{
                    @include text-style(18px,700,$black);
                }
            }
            
        }
    }
    h3{
        @include text-style(24px,700,$black);
        margin-bottom: 14px;
    }
    .advice-wrap{
        background-color: $card;
        padding: 16px 10px;
        h4{
            @include text-style(16px,700,$deep-green);
            margin-bottom: 10px;
        }
        p{
            @include text-style(16px,400,$deep-green);
        }
    }
}