.diary{
    background-color: $white;
    .header{
        padding-top: 60px;
        @include text-style(24px,700,$black);
        margin-bottom: 35px
    }
    button{
        @extend %btn-base;
        padding: 20px;
    }
}
